version: '3.9'
services:
  prometheus:
    image: prom/prometheus:v3.9.1
    hostname: prometheus
    container_name: centralgrafana__prometheus
    restart: unless-stopped

    volumes:
      - type: volume
        source: prometheus_data
        target: /prometheus

      - type: bind
        source: ./prometheus.yml
        target: /etc/prometheus/prometheus.yml
        read_only: true

    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=30d'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-admin-api'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-remote-write-receiver'

    networks:
      - internal

    deploy:
      resources:
        limits:
          memory: 4096m


  victoriametrics:
    image: victoriametrics/victoria-metrics:v1.135.0
    hostname: victoriametrics
    container_name: centralgrafana__victoriametrics
    restart: unless-stopped

    volumes:
      - type: volume
        source: victoriametrics_data
        target: /victoria-metrics-data

    command:
      - '-retentionPeriod=180d'
      - '-maxLabelsPerTimeseries=60'

    networks:
      - internal

    deploy:
      resources:
        limits:
          memory: 4096m


  grafana:
    image: grafana/grafana:12.3.2
    hostname: grafana
    container_name: centralgrafana__grafana
    restart: unless-stopped

    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: password
      GF_USERS_ALLOW_SIGN_UP: "false"
      GF_USERS_ALLOW_ORG_CREATE: "false"
      GF_AUTH_ANONYMOUS_ENABLED: "true"

    volumes:
      - type: volume
        source: grafana_data
        target: /var/lib/grafana

    networks:
      internal:
      outband:

    deploy:
      resources:
        limits:
          memory: 512m

  cloudflared:
    image: cloudflare/cloudflared:2026.1.2-arm64@sha256:6760e6143165e855865df6f38a2d3a74016e944a6c6eba62ab289973907cd8c9
    hostname: cloudflared
    container_name: centralgrafana__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}

    networks:
      internal:
      outband:

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  prometheus_data:
    name: centralgrafana__prometheus_data

  victoriametrics_data:
    name: centralgrafana__victoriametrics_data

  grafana_data:
    name: centralgrafana__grafana_data

networks:
  internal:
    name: centralgrafana__internal
    internal: true

  outband:
    name: centralgrafana__outband
